body{
  margin: 0;
  padding: 0;
  background-color: #1fc8db;
  background-image: linear-gradient(-100deg, #1fc8db 51%, #2cb5e8 75%);
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  width: 100%;
  background-color: #1fc8db;
  background-image: linear-gradient(-100deg, #1fc8db 51%, #2cb5e8 75%);
  position: fixed;
  top: 0px;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-top: 20px;
  margin: 0;
}

.nav-link {
  padding-right: 40px;
  font-size: 18px;
  margin-right: 4%;
}

.nav-link a{
  text-decoration: none;
  color: white;
}

#welcome-section{
  margin-top: 0;
  height: 70vh;
  text-align: center;
}

#welcome-section h1 {
  padding-top: 13%;
  margin-bottom: 0;
}

#welcome-section p {
  margin-top: 0;
}

#projects {
  padding: 50px;
  background-color: #e5feff;  
}

#projects-title {
  text-align: center;
}

#projects-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.project-link{
  text-decoration: none;
  color: black;
}

.project-tile {
  padding: 5px;
  width: 300px;
  text-align: center;
}

.project-tile p {
  border: 1px #a4f1f4 solid;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}

.project-screenshot {
  width: 100%;
  border: 1px #a4f1f4 solid;
}

#contact-section {
  padding: 60px;
  background-color: #1fc8db;
  background-image: linear-gradient(-100deg, #1fc8db 51%, #2cb5e8 75%); 
}

#slogan {
  text-align: center;
  padding-bottom: 30px;
}

#slogan h1{
  margin-bottom: 0;
}

#slogan p{
  margin-top: 0;
}

#contact-icons-flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.contact-icon{
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  border: 1px #a4f1f4 solid;
}

.contact-icon:hover {
  background-color: #eee;
}

.contact-link{
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 768px){
  body{
    margin: 0;
    padding: 0;
    background-color: #1fc8db;
    background-image: linear-gradient(-100deg, #1fc8db 51%, #2cb5e8 75%);
    font-family: Arial, Helvetica, sans-serif;
  }
}